* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../images/fonts/IBMPlexSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../images/fonts/IBMPlexSansArabic-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../images/fonts/IBMPlexSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Sans Arabic";
  src: url("../images/fonts/IBMPlexSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #f9fafb;
}
.main-body {
  padding: 16px 16px 32px;
  grid-area: main-body;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
/* sidebar */
.side-bar {
  grid-area: sidebar;
  background-color: white;
  border: 2px solid #e3e4e5;
  padding: 24px;
  overflow-y: scroll;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #9ca3af4d transparent;
  display: none;
  overflow-x: hidden;
  text-align: center;
}
.sidebar-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 32px;
}
.nav-container img {
  width: 20px;
  margin-left: 5px;
}
.quick-actions {
  margin-top: 32px;
}
ul {
  list-style: none;
}
.sidebar-nav ul li {
  padding: 12px 16px;
  margin-bottom: 8px;
  font-size: 18px;
  border-radius: 15px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebar-nav .house {
  background-color: #eff6ff;
  color: #155dfc;
  font-weight: bold;
}

.sidebar-nav li:hover {
  background-color: #f9fafb;
}
.sidebar-nav .house:hover {
  background-color: #eff6ff;
}
.features {
  margin-top: 12px;
}
.features button {
  background-color: white;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  padding: 12px;
  transition: all 0.2s;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
.features button:hover {
  background-color: #00000005;
  transform: translate(2px);
}
.feature-img-cont {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.feature-img-cont.blue-feature {
  background-color: #e9f2ff;
}
.feature-img-cont.grn-feature {
  background-color: #e6faee;
}
.feature-img-cont.mov-feature {
  background-color: #f6ecff;
}
.feature-img-cont.orng-feature {
  background-color: #fff0e6;
}
.features button img {
  width: 18px;
}
/* navbar */
.navbar {
  margin: auto;
  background-color: #fefeff;
  border: 2px solid #e3e4e5;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 24px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.logo-container {
  background-color: #2d50f1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.navbar h1 {
  font-size: 36px;
}
.com-par {
  font-size: 16px;
  margin-top: 4px;
  color: #5e6876;
}
.navbar .status-lg {
  display: none;
}
.logo-container img {
  width: 20px;
}
.search-container img,
.notification-container img {
  width: 16px;
}
.sec-section-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.special-acc {
  background-color: #fefeff;
  border-radius: 15px;
  border: 1px solid #e3e4e5;
  padding: 8px 12px;
  transition: box-shadow 0.2s;
}
.special-acc:hover {
  box-shadow:
    0 4px 6px -1px #0000001a,
    0 2px 4px -1px #0000000f;
}
.notification-container,
.search-container {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
}
.notification-container {
  position: relative;
}
.name-acc {
  display: none;
}
.special-acc img {
  width: 32px;
  border-radius: 10px;
}
.status {
  background-color: #f0fdf4;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  width: 100%;
}
.green-circ {
  background-color: #5ddd90;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.stat-txt {
  color: #008236;
  font-size: 14px;
}
.notification-container::after {
  content: "2";
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  padding: 0 4px;
  top: -5px;
  right: -5px;
  font-size: 12px;
  font-weight: 700;
}
.card {
  background-color: white;
  padding: 32px;
  border: 1px solid #e3e4e5;
  border-radius: 20px;
  box-shadow: 1px 1px #e3e4e5`;
}
.card-title {
  font-size: 14px;
  color: #929296;
  margin-bottom: 8px;
}
.card-price {
  font-size: 30px;
  font-weight: 700;
}
.stock {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.stock .grn-txt {
  font-size: 14px;
  color: green;
}
.stock .rd-txt {
  font-size: 14px;
  color: red;
}
.rd-arrow {
  filter: grayscale(100%) sepia(100%) hue-rotate(-50deg) saturate(500%);
}
.summ-cards {
  display: grid;
  grid-template-areas: "card1" "card2" "card3";
  grid-gap: 20px;
  margin-bottom: 24px;
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card img {
  width: 12px;
  margin-left: 4px;
}
.sec3 {
  display: grid;
  grid-template-areas:
    "recent-activities"
    "recent-transactions"
    "monthly-bills"
    "overview"
    "income-outcome"
    "acc-statements"
    "payment-methods";
  gap: 20px;
}
/* Recent Activities*/
.recent-activities {
  grid-area: recent-activities;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
  box-shadow: 1px 1px #e3e4e5;
  background-color: white;
}
h3 {
  font-size: 16px;
}
.recent-activities .activ-card {
  padding: 12px;
  margin-bottom: 12px;
  display: grid;
  grid-template-areas: "activity-img activity-txt";
  border-radius: 10px;
  gap: 20px;
  grid-template-columns: 10% auto;
}
.blue-card {
  background-color: #eff6ff;
  border-left: 3px solid #2b7fff;
}
.grn-card {
  background-color: #f0fdf4;
  border-left: 3px solid #00c950;
}
.user-need {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.user-blue-color {
  color: #2b7fff;
  font-size: 12px;
  font-weight: 700;
}
.user-grn-color {
  color: #00c950;
  font-size: 12px;
  font-weight: 700;
}
h4 {
  font-size: 14px;
  font-weight: 700;
}
.card-stat {
  margin-bottom: 8px;
  font-size: 12px;
  color: #4e5f74;
  font-weight: bold;
}
.card-hour {
  font-size: 12px;
  color: #7893ad;
}
.activity-img {
  grid-area: activity-img;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blu-img {
  background-color: #dbeafe;
}
.grn-img {
  background-color: #dbfce7;
}
.activity-txt {
  grid-area: activity-txt;
}
.all-activities {
  text-align: center;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #f4f5f7;
}
.all-activities button {
  color: #6b97fd;
  border: none;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}
.all-activities button:hover {
  color: #4876e3;
}
/* recent Transactions */
.recent-transactions {
  grid-area: recent-transactions;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
  box-shadow: 1px 1px #e3e4e5;
  background-color: white;
}
.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  transition: all 0.2s;
}
.show-all:hover {
  color: black;
}
.show-all:hover img {
  filter: brightness(0);
}
.show-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  color: #5a697b;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-indent: 0;
  overflow: auto;
}
table tr {
  border-bottom: 1px solid #f4f5f7;
}
table tr td {
  padding: 16px 8px;
  font-size: 14px;
}
table thead tr th {
  color: #7d8490;
  font-size: 16px;
  padding: 8px 4px;
  text-align: start;
}
.tab-stat.yel-pend {
  background-color: #fef9c2;
  color: #a87933;
}
.tabl-trans {
  display: flex;
  align-items: center;
  gap: 12px;
}
.tabl-trans .trans-name {
  font-size: 14px;
}
.trans-name .s-par {
  color: #7d8490;
}
.tab-type {
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  width: fit-content;
}
.trans-grn-txt {
  color: #076a35;
  background-color: #dbfce7;
}
.trans-prp-txt {
  color: #8637be;
  background-color: #f3e8ff;
}
.trans-red-txt {
  color: #9f0712;
  background-color: #ffe2e2;
}
.trans-baby-txt {
  color: #398a9d;
  background-color: #cefafe;
}
.tab-date {
  font-size: 14px;
}
.tab-stat {
  padding: 2px 10px;
  text-align: center;
  width: fit-content;
  border-radius: 20px;
  font-size: 14px;
  color: #076a35;
  background-color: #dbfce7;
}
.amount {
  font-size: 14px;
}
.amount.amount-grn-txt {
  color: #05a842;
}
.activ-card img {
  width: 16px;
}
.bills img {
  width: 24px;
}
.show-all img {
  width: 10px;
  filter: brightness(0) saturate(100%) invert(59%) sepia(8%) saturate(286%) hue-rotate(175deg) brightness(90%)
    contrast(87%);
}
.tab-img-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.orng-cont {
  background-color: #ffedd4;
}
.blue-cont {
  background-color: #dbeafe;
}
.red-cont {
  background-color: #ffe2e2;
}
.mov-cont {
  background-color: #e0e7ff;
}
.baby-cont {
  background-color: #cefafe;
}
.grn-cont {
  background-color: #d0fae5;
}
.trans-orng-txt {
  color: #a5390d;
  background-color: #ffedd4;
}
.trans-blue-txt {
  color: #193cb8;
  background-color: #dbeafe;
}
.tabl-trans img {
  width: 14px;
}
.tabl-trans .person-img {
  width: 40px;
  border-radius: 50%;
}
.tab-type img {
  width: 12px;
  margin-left: 4px;
}
/* monthly Bills */
.monthly-bills {
  grid-area: monthly-bills;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
  box-shadow: 1px 1px #e3e4e5;
  background-color: white;
}
.bill-total {
  display: grid;
  grid-template-areas: "bill-price" "bill-txt";
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.bill-price {
  grid-area: bill-price;
  font-size: 30px;
  font-weight: bold;
}
.bill-txt {
  grid-area: bill-txt;
  font-size: 14px;
  color: #6a7282;
}
.bill-containers {
  display: grid;
  grid-template-areas: "bill-card1 bill-card2" "bill-card3 bill-card4";
  gap: 10px;
}
.bill-card1 {
  grid-area: bill-card1;
}
.bill-card2 {
  grid-area: bill-card2;
}
.bill-card3 {
  grid-area: bill-card3;
}
.bill-card4 {
  grid-area: bill-card4;
}
.bills {
  background-color: #f9fafb;
  border-radius: 10px;
  padding: 12px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.bill-type {
  font-size: 14px;
  color: #8194b7;
}
.b-ty-price {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
}
.period {
  font-size: 12px;
  margin-top: 5px;
}
.per-rd {
  color: #fb4448;
}
.per-grn {
  color: #11ca54;
}
.per-norm {
  color: #6b7282;
}
.bill-card1 .bill-blue-img {
  background-color: #dbeafe;
}
.bill-card2 .bill-ylw-img {
  background-color: #fef9c2;
}
.bill-card3 .bill-grn-img {
  background-color: #dbfce7;
}
.bill-card4 .bill-red-img {
  background-color: #ffe2e2;
}
.bill-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Overview */
.overview {
  grid-area: overview;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
  box-shadow: 1px 1px #e3e4e5;
  background-color: white;
}
.overview-card {
  padding: 16px;
  border-radius: 10px;
}
.over-card-txt {
  display: flex;
  justify-content: space-between;
}
.overview-card.over-blue-card {
  background-color: #eff4ff;
}
.over-card-txt .total {
  color: #2876fd;
  font-size: 14px;
}
.over-card-txt .total-money {
  color: #1c429a;
  font-size: 24px;
  font-weight: bold;
}
.overview-card.over-blue-card {
  margin-bottom: 24px;
}
.over-card-txt .rest {
  color: #6f7c93;
  font-size: 14px;
}
.over-card-txt .rest-money {
  color: #00a63e;
  font-size: 18px;
  font-weight: bold;
}
.bar {
  margin-top: 12px;
}
.bar-txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.bar-container {
  width: 100%;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 15px;
}
.bar-filling {
  height: 8px;
  border-radius: 15px;
}
.over-blue-card .bar-filling {
  background-color: #506dff;
  width: 82.5%;
}
.bar-txt .bar-txt1,
.bar-txt .bar-txt2 {
  font-size: 12px;
}
.over-img img {
  width: 24px;
}
.chng-color {
  filter: brightness(0) saturate(100%) invert(41%) sepia(98%) saturate(2713%) hue-rotate(8deg) brightness(101%)
    contrast(102%);
}
.overview-cards {
  padding: 16px;
  background-color: #f9fafb80;
  border: 1px solid #e5e7ebcc;
  border-radius: 10px;
  transition: all 0.2s;
  margin-bottom: 16px;
}
.overview-cards:hover {
  transform: translateY(-1px);
  background-color: #f3f4f6cc;
  border-color: #d1d5dbe6;
  box-shadow:
    0 4px 6px -1px #0000001a,
    0 2px 4px -1px #0000000f;
}
.over-img {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.over-img.orng-img-container {
  background-color: #ffedd4;
}
.over-title-money {
  display: flex;
  gap: 10px;
  align-items: center;
}
.txt-aft-img .over-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.over-money {
  font-size: 12px;
  color: #6f7c93;
  font-weight: bold;
}
.over-rest-money {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}
.percn-container {
  padding: 2px 8px;
  border-radius: 10px;
  width: fit-content;
}
.percn-container.grn-percn-cont {
  background-color: #dcfce7;
}
.percn-container.grn-percn-cont p {
  color: #3e8b67;
}
.percn-container p {
  font-size: 12px;
  font-weight: bold;
}
.bar-filling.orng-bar {
  width: 50%;
  background-color: #ff6900;
}
.over-img.rd-img-container {
  background-color: #fee2e2;
}
.chng-color-rd {
  filter: brightness(0) saturate(100%) invert(12%) sepia(99%) saturate(7491%) hue-rotate(354deg) brightness(94%)
    contrast(113%);
}
.percn-container.rd-percn-cont {
  background-color: #fee2e2;
}
.percn-container.rd-percn-cont p {
  color: #a42f2a;
}
.bar-filling.rd-bar {
  width: 100%;
  background-color: #fb2c36;
}
.over-img.prp-img-container {
  background-color: #fce7f3;
}
.percn-container.prp-percn-cont {
  background-color: #fef3c7;
}
.percn-container.prp-percn-cont p {
  color: #96491c;
}
.bar-filling.prp-bar {
  width: 80%;
  background-color: #f6339a;
}
.over-img.grn-img-container {
  background-color: #dcfce7;
}
.percn-container.grn-percn-cont p {
  color: #166e3e;
}
.bar-filling.grn-bar {
  width: 86%;
  background-color: #00c950;
}
/* income & outcome */
.income-outcome {
  grid-area: income-outcome;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
  box-shadow: 1px 1px #e3e4e5;
  background-color: white;
}
.legends {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}
.legends .legend {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6px;
}
.legend-container {
  width: 14px;
  height: 14px;
  border-radius: 4px;
}
.legend-container.grn-legend-container {
  background-color: #10b981;
}
.legend-container.rd-legend-container {
  background-color: #ef4444;
}
.all-charts {
  padding: 16px 0;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas: "one two three four";
  grid-template-columns: 25% 25% 25% 25%;
}
.bars-tits.one {
  grid-area: one;
}
.bars-tits.two {
  grid-area: two;
}
.bars-tits.three {
  grid-area: three;
}
.bars-tits.four {
  grid-area: four;
}
.bars-tits {
  text-align: center;
  margin: 0 4px;
}
.tab-chart {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: end;
  height: 140px;
}
.tab-chart .income,
.tab-chart .outcome {
  width: 16px;
  border-radius: 4px;
}
.tab-chart .outcome {
  background-color: #ef4444;
}
.tab-chart .income {
  background-color: #10b981;
}
.chart-txt {
  margin-top: 8px;
  font-size: 14px;
  color: #65748b;
  font-weight: bold;
}
.f-chart .income {
  height: 95px;
}
.f-chart .outcome {
  height: 42px;
}
.s-chart .income {
  height: 98px;
}
.s-chart .outcome {
  height: 45px;
}
.th-chart .income {
  height: 92px;
}
.th-chart .outcome {
  height: 38px;
}
.fh-chart .income {
  height: 96px;
}
.fh-chart .outcome {
  height: 45px;
}
.statements-tit-txt img {
  width: 24px;
}
/* account Statements */
.acc-statements {
  grid-area: acc-statements;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
  box-shadow: 1px 1px #e3e4e5;
  background-color: white;
}
.statement-container {
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafb80;
  border: 1px solid #e5e7ebcc;
  border-radius: 10px;
}
.statements-tit-txt .txt-img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stats-title {
  font-size: 18px;
  margin-bottom: 4px;
}
.account-status {
  color: #b2b6bf;
  font-size: 14px;
}
.status-money {
  font-size: 18px;
}
.statements-tit-txt .txt-img {
  display: flex;
  align-items: center;
}
.statements-tit-txt .img-container {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container.state-blu {
  background-color: #dbeafe;
}
.img-container.state-grn {
  background-color: #dbfce7;
}
.img-container.state-grn img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(98%) saturate(1277%) hue-rotate(102deg) brightness(96%)
    contrast(101%);
}
.img-container.state-voil {
  background-color: #f3e8ff;
}
.rd-stat-txt {
  color: red;
}
/* Payment Methods */
.payment-methods {
  grid-area: payment-methods;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 10px;
  box-shadow: 1px 1px #e3e4e5;
  background-color: white;
}
.credit-container {
  border-radius: 12px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.2, 0.9, 0.3, 1);
  min-height: 200px;
  margin-bottom: 16px;
}
.qr-code {
  width: 48px;
  height: 32px;
  border-radius: 8px;
  background-color: #ffffff33;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-code2 {
  width: 24px;
  height: 16px;
  background-color: #ffffff66;
  border-radius: 4px;
}
.credit-container .basic {
  background-color: #ffffff24;
  backdrop-filter: blur(4px);
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 12px;
  border-radius: 999px;
  padding: 6px 10px;
}
.visa-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.credit-container img {
  width: 32px;
  border-radius: 10px;
}
.credit-num {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}
.credit-name-end-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.credit-name .holder,
.end-date .end {
  font-size: 12px;
  color: #aeb6e8;
}
.credit-name .holder-name,
.end-date .date {
  font-size: 14px;
  font-weight: bold;
}
.credit-container:hover {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  padding: 28px;
  backface-visibility: hidden; /* ده هو السر */
  -webkit-backface-visibility: hidden;
}
.card-front {
  background-color: #372aac;
  color: white;
}
.card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg); /* مقلوب عشان لما الـ container يتقلب يبقا صح */
  display: flex;
  flex-direction: column;
}
.card-back .secret {
  background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
  border-radius: 3px;
  height: 52px;
  margin-top: 6px;
}
.card-back .sign {
  color: #ffffff7a;
  margin-top: 8px;
  font-size: 18px;
}
.card-back .scratch {
  color: #111827;
  background-color: white;
  border-radius: 4px;
  height: 36px;
  margin-top: 10px;
  padding: 6px 8px;
  font-weight: bold;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.credit-bar {
  background-color: #e5e7eb;
  border-radius: 2px;
  width: 86%;
  height: 12px;
}
.four-digits {
  color: #000000d9;
  margin-left: 8px;
  font-size: 14px;
}
.cvv-container {
  display: grid;
  grid-template-areas: "empty-container cvv-txt-box";
  grid-template-columns: 85% 15%;
}
.empty-container {
  grid-area: empty-container;
}
.cvv-txt-box {
  grid-area: cvv-txt-box;
  margin-top: 10px;
}
.cvv-txt {
  font-size: 12px;
  margin-bottom: 2px;
}

.cvv-box {
  color: black;
  background-color: white;
  border-radius: 6px;
  padding: 8px 12px;
  font-weight: bold;
  min-width: 54px;
  text-align: center;
}
.credit-container.red-credit .card-front {
  background-color: #c70036;
}
.credit-container.red-credit .credit-name .holder,
.credit-container.red-credit .end-date .end {
  font-size: 12px;
  color: #f1a8b6;
}
.credit-container.light-blue-credit .credit-name .holder,
.credit-container.light-blue-credit .end-date .end {
  font-size: 12px;
  color: white;
}
.credit-container.light-blue-credit .card-front {
  background-color: #193cb8;
}
.credit-container.light-blue-credit .scratch {
  padding: 8px 10px;
}
.date.grn-txt {
  color: #07ce79;
}
@media screen and (min-width: 640px) {
  .navbar {
    display: grid;
    grid-template-areas: "logo sec-section-navbar";
    justify-content: space-between;
    padding: 16px;
  }
  .navbar .status-lg {
    display: inline;
    grid-area: status-lg;
    display: grid;
    grid-template-areas: "green-circ stat-txt";
    gap: 5px;
    border-radius: 10px;
  }
  .status-sm {
    display: none;
  }
  .logo {
    grid-area: logo;
    display: grid;
    grid-template-areas: "logo-container com-name status-lg";
    justify-content: space-between;
    align-items: center;
  }
  .logo-container {
    grid-area: logo-container;
  }
  .com-name {
    grid-area: com-name;
  }
  .green-circ {
    grid-area: green-circ;
  }
  .stat-txt {
    grid-area: stat-txt;
  }
  .sec-section-navbar {
    display: grid;
    grid-template-areas: "nav-icons special-acc";
    gap: 15px;
  }
  .nav-icons {
    grid-area: nav-icons;
  }
  .special-acc {
    grid-area: special-acc;
    display: grid;
    grid-template-areas: "nameacc person1";
    gap: 15px;
    justify-items: center;
    align-items: center;
  }
  .special-acc .name {
    font-weight: 700;
    font-size: 14px;
  }
  .name-acc {
    display: inline;
    grid-area: nameacc;
  }
  .spec-txt {
    display: none;
  }
  .img-person {
    grid-area: person1;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 24px;
  }
  .special-acc .spec-txt {
    display: inline;
    font-size: 12px;
    color: #868d9a;
  }
  .special-acc img {
    width: 40px;
  }
  .summ-cards {
    display: grid;
    grid-template-areas: "card1 card2 card3";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card .card-price {
    font-size: 24px;
  }
  .sec3 {
    display: grid;
    grid-template-areas:
      "recent-activities income-outcome"
      "recent-transactions recent-transactions"
      "monthly-bills acc-statements"
      "overview payment-methods";
    grid-template-columns: 1fr 1fr;
  }
  .over-card-txt {
    flex-direction: column;
  }
  .over-title-money {
    align-self: flex-start;
  }
  .over-card-txt .s-div {
    align-self: flex-end;
  }
  .statement-container {
    flex-direction: column;
  }
  .statements-tit-txt {
    align-self: flex-start;
  }
  .status-money {
    align-self: flex-end;
  }
  .all-sections {
    display: grid;
    grid-template-areas: "sidebar main-body";
    grid-template-columns: 10% 1fr;
    gap: 15px;
    height: 100vh;
    overflow: hidden;
  }
  .side-bar {
    display: inline;
    padding: 12px;
    justify-content: center;
    align-items: center;
  }
  .hidden {
    display: none;
  }
  .sidebar-nav ul li {
    width: fit-content;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .card .card-price {
    font-size: 34px;
  }
  .over-card-txt {
    flex-direction: row;
  }
  .statement-container {
    flex-direction: row;
  }
  .all-sections {
    grid-template-columns: 8% 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .sec3 {
    display: grid;
    grid-template-areas:
      "recent-activities recent-transactions recent-transactions"
      "monthly-bills recent-transactions recent-transactions"
      "overview income-outcome payment-methods"
      "overview acc-statements payment-methods";
    grid-template-columns: 1fr 1fr 1fr;
  }
  .hidden {
    display: inline;
  }
  .all-sections {
    grid-template-columns: 15% 1fr;
  }
  .side-bar {
    padding: 24px;
  }
}
